        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class='d-flex justify-content-center'>
                    <img src='/images/logo/logo-redbg-medium.png'>
                </div>
            </div>

            <ul class="list-unstyled components">
                @listFiles:'utils//sidebar-links','sblinks','*.gen;*.GEN','false','ASC'
                @for:@sblinks,'sb','|'
                @import:@sb,'linkGen'
                <li>
                    @if:EMPTY,linkGen.'sub'
                    <a href="/{{ linkGen.'link' }}">{{ linkGen.'text' }}</a>
                    @else
                    <a href="#{{ linkGen.'link' }}Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ linkGen.'text' }}</a>
                    <ul class="collapse list-unstyled" id="{{ linkGen.'link'}}Submenu">
                        @for:linkGen.'sub','sc'
                        <li>
                            @explode:@sc,'s','|'
                            <a href="/{{ linkGen.'link' }}/{{ @s[0] }}">{{ @s[1] }}</a>
                        </li>
                        @endfor
                    </ul>
                    @endif
                </li>
                @endfor
            </ul>
            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://github.com/alantelles/ultragen" target='_blank' class="download"><i class="fab fa-github"></i>UltraGen on GitHub</a>
                </li>
                <li>
                    <a href="https://lazarus-ide.org" target='_blank' class="article">Lazarus IDE Project</a>
                </li>
            </ul>
        </nav>