@createGen:'navbarLinks','resources/sources/navbar-links.gen'
<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			
			<button type="button" id="sidebarCollapse" class="btn btn-info btn-red">
				<i class="fas fa-align-left"></i>
			</button>
			
			<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-align-justify"></i>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav navbar-nav ml-auto">
					@for:links,link
					<li class="nav-item">
						@explode:@link,expLink,'|'
						<a class="nav-link" href="/{{ @expLink[0] }}">{{ @expLink[1] }}</a>
					</li>
					@endFor
				</ul>
			</div>
		</div>
	</nav>