@function Base(content='')
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ $appTitle }}</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="header"><h1>{{ $appTitle }}</h1></div>
        <div class="navbar">
            <form action="{{ $router.urlFor(:search) }}">
                <input type="text" name="q">
                <input type="submit" value="Search!">
            </form>
        </div>
        <div class="content">
            {{ content }}
        </div>

        
    </div>
</body>
</html>
@end