@function Base(context)
@context.localize()
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeDex</title>
</head>
<style>
    {{ String.printFile('assets/css/reset.css') }}
    {{ String.printFile('assets/css/style.css') }}
</style>
<body>
    <div class="container">
        <div class="side">
@       include 'templates/layouts/Navbar.ultra.html'
        </div>
        <div class="main">
            {{ body }}
        </div>
    </div>
</body>
</html>
@end