<div class='row'>
    <div class="col-lg-12">
        <h3>Novo usuário</h3>
    </div>
    <div class="col-lg-12">
        <form action="" method="post">
            <div class="form-group">
                <label for="name">Nome</label>
                <input class="form-control" name="name" id="name" />
            </div>
            <div class="form-group">
                <label for="username">Nome de usuário</label>
                <input type="text" class="form-control" id="username" name="username" />
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" name="password" />
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>