/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
body {
    font-family: 'Nunito', sans-serif;
    background: #fff;
}

.blockquote {
    width: 80%;
    margin: 0 auto;
    font-size: 12pt;
    padding: 15px;
    background-color: rgb(250, 219, 215);
    margin-bottom: 15px;
}
p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: 55, 55, 55;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat';
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
a:hover {color: #ee1f1f !important}
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.nav-item a{
    font-size: 16pt;
    padding:0;
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #8a2222;
    color: #fff;
    transition: all 0.3s;
}

.btn-red {
    background-color: #c21d1d;
    border: none;
}
.btn-red:hover {
    background-color: #ee1f1f;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #8a2222;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #c21d1d;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #c21d1d;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #9b1f1f;
}

#sidebar ul li.active>a:hover {
    color: #fff !important;
    background-color: #bb1d1d;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #c21d1d;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    font-weight: bold;
    color: #700d0d;
}

a.article,
a.article:hover {
    background: #c21d1d !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 10px 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
.card {
    background-color: #ddd;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0px;
}
.code-example {
    width: 70%;
    margin: 0 auto;
}
div.card {
    margin-bottom: 15px;
}
.post-title {
    border-bottom: solid 1px #8d8d8d;
    padding-bottom: 10px;
    margin-top: 0px;
}
.sitename {
    color:#8a2222;
    padding: 0;
 }
 .subtitle {
     margin-top: -12pt;
     padding-top: 3pt;
     border-top: solid 1px #c21d1d;
     color: #bb1919;
     font-size: 16pt;
 }

#content.active {
    width: 100%;
}

.minor {font-size:12pt;}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
}