.card {
    margin-bottom: 10px;
}
.container-fluid {
    margin-top: 20px
}
.login {
    margin-top: 100px;
}
.highlight {
    padding: 20px;
    background-color: lightgray;
    margin-bottom: 10px
}
